# OCamlMakefile
._d
._bcdi
._ncdi
# OCaml Binary
*.cmi
*.cmo
*.cmx
*.cma
*.cmxa
*.cmxs

# Binary
*.o

# omake
*.omc
*.lock
*.opt
*.cache
*.omakedb

# merlin
.merlin

# Build
*.exe
*.top
*.byte

test/**/*.s

# dune
_build/
*.install

*.dSYM/

_static/

# benchmark
data/
*.data
*.data.[1-9]*
